{% capture accordion %}{% include 'shortcode-render' render:'action' %}{% endcapture %}
{% capture accordionTitle %}{% include 'shortcode-render' render:'title' default:'Accordion Title'%}{% endcapture %}
{% capture accordionIcon %}{% include 'shortcode-render' render:'icon' default:''%}{% endcapture %}
{% capture accordionActive %}{% include 'shortcode-render' render:'active' default:'0'%}{% endcapture %}
{% case accordion %}
  {% when 'new accordions' %}
    {% capture shortcodeId %}{{shortCodeId}}-{{ 'now' | date: "%N" }}{% endcapture %}
    <div class="panel-group" id="accordion-{{shortcodeId | split : '-' | last}}" role="tablist" aria-multiselectable="true">
    {% when 'end accordions' %}
      {% capture lastTime %}-{{shortcodeId | split : '-' | last}}{% endcapture %}
      {% capture shortcodeId %}{{shortCodeId | remove: lastTime}}{% endcapture %}
    </div>
  {% when 'new accordion' %}
    <div class="panel panel-default">
      {% capture headingId %}{{ 'now' | date: "%N" }}{% endcapture %}
      <div class="panel-heading" role="tab" id="heading-{{headingId}}">
        <h4 class="panel-title">
          <a {% unless accordionActive == '1' %}class="collapsed"{% endunless %} role="button" data-toggle="collapse" data-parent="#accordion-{{shortcodeId | split : '-' | last}}" href="#collapse{{headingId}}" aria-expanded="{% if accordionActive == '1' %}true{% else %}false{% endif %}" aria-controls="collapse{{headingId}}">
              {% if accordionIcon != '' %}
                {% capture icon %}icon-{{accordionIcon}}{% endcapture %}
                {% include icon %}
              {% endif %}
            {% if accordionTitle != '' %}{{accordionTitle}}{% endif %}
          </a>
        </h4>
      </div>
      <div id="collapse{{headingId}}" class="panel-collapse collapse{% if accordionActive == '1' %} in{% endif %}" role="tabpanel" aria-labelledby="heading-{{headingId}}">
        <div class="panel-body">
        {% when 'end accordion' %}
          </div>
      </div>
    </div>
  {% else %}
{% endcase %}
