<style>
  {% if section.settings.header_background_image != '' %}
    .about-header {
      background-image: url({{ section.settings.header_background_image | img_url: '1000x' }});
    }
    @media screen and (min-width: 1600px) {
      .about-header {
        background-image: url({{ section.settings.header_background_image | img_url: '1600x' }});
      }
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="about">
  <div class="about-header">
    <div class="wrapper">
      <h1 class="about-header__title">{{ page.title }}</h1>
      <div class="about-header__content rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About page",
    "max_blocks": 23,
    "settings": [
      {
        "type": "image_picker",
        "id": "header_background_image",
        "label": "Background image"
      }
    ]
  }
{% endschema %}
