<style>
  .featured-blog {
    background-color: {{ section.settings.background_color }};
  }
</style>
<div class="featured-blog">
  <div class="wrapper">
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    </div>

    {% assign blog = blogs[section.settings.blog] %}

    {% assign grid_item_width = 'medium-up--one-half' %}

    {% if section.settings.post_limit == '3' %}
      {% assign grid_item_width = 'medium--one-half large-up--one-third' %}
    {% endif %}

    <div class="grid">
      {% for article in blog.articles limit:section.settings.post_limit %}
        <div class="grid__item {{ grid_item_width }}">
          {% include 'article-loop' %}
        </div>
      {% else %}
        {% for i in (1..3) %}
          <div class="grid__item medium-up--one-third">
            <div class="blog-post">
              <figure classs="blog-post__image">
                <a href="#">
                  {{ 'image' | placeholder_svg_tag }}
                </a>
              </figure>
              <h4 class="blog-post__title">
                <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
              </h4>
              <div class="rte">
                {{ 'homepage.onboarding.blog_excerpt' | t }}
              </div>
              <p class="blog-post__meta">
                <a href="{{ article.url }}">
                  {{ 'blogs.article.read_more' | t }}
                  {% include 'icon-arrow-right' %}
                </a>
              </p>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>

    <a href="{{ blog.url }}" class="featured-blog__more">
      {{ 'blogs.article.view_all' | t }}
      {% include 'icon-arrow-right' %}
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "select",
        "id": "post_limit",
        "label": "Posts",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fbfbfc"
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News",
          "post_limit": "2"
        }
      }
    ]
  }
{% endschema %}
