<style>
  .site-footer {
    background-color: {{ section.settings.background_color }};
  }
  {% if section.settings.background_image != blank %}
    .site-footer__inner {
      background-image: url({{ section.settings.background_image | img_url: '600x'}});
      background-position-y: bottom;
      background-repeat: repeat-x;
    }
  {% endif %}
  .site-footer__copyright {
    background-color: {{ section.settings.copyright_background }};
  }
</style>
<footer class="site-footer" data-section-type="footer" data-section-id="{{ section.id }}">
  <div class="site-footer__inner">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item large-up--one-fifth">
          {%- assign footer_linklist = section.settings.footer_linklist_1 -%}
          {% include 'footer-links' %}
        </div>

        <div class="grid__item large-up--one-fifth">
          {%- assign footer_linklist = section.settings.footer_linklist_2 -%}
          {% include 'footer-links' %}
        </div>

        <div class="grid__item large-up--one-fifth">
          {%- assign footer_linklist = section.settings.footer_linklist_3 -%}
          {% include 'footer-links' %}
        </div>

        <div class="grid__item large-up--two-fifths">
          <div class="site-footer__contact">
            <h5 class="">{{ section.settings.footer_contact_title }}</h5>
            {% unless section.settings.footer_contact_phone == blank %}
              <p>
                {% include 'icon-phone' %}
                {{ section.settings.footer_contact_phone }}
              </p>
            {% endunless %}
            {% unless section.settings.footer_contact_email == blank %}
              <p>
                {% include 'icon-email' %}
                {{ section.settings.footer_contact_email }}
              </p>
            {% endunless %}
          </div>
          {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
          <ul class="find-us">
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <li class="find-us__item">
                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    {% include social_icon %}
                    <span class="icon-fallback-text">{{ social }}</span>
                  </a>
                </li>
              {% endif %}

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer__copyright">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item medium-up--one-half">
          <span>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</span>
        </div>

        <div class="grid__item medium-up--one-half">
          {% if section.settings.show_payment_icons %}
            {% unless shop.enabled_payment_types == empty %}
              {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

              <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
              <ul class="payment-icons">
                {% for type in shop.enabled_payment_types %}
                  {% if payment_icons_available contains type %}
                    <li>
                      {% capture icon_name %}icon-{{ type }}--full-color{% endcapture %}
                      {% include icon_name %}
                      <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endunless %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fbfbfd"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "copyright_background",
        "label": "Copyright background",
        "default": "#f5f5f5"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Seccond menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_3",
        "label": "Third menu",
        "default": "footer"
      },
      {
        "type": "text",
        "id": "footer_contact_title",
        "label": "Contact title",
        "default": "Contact"
      },
      {
        "type": "text",
        "id": "footer_contact_phone",
        "label": "Phone",
        "default": "811 123 45 67"
      },
      {
        "type": "text",
        "id": "footer_contact_email",
        "label": "Contact",
        "default": "contact@your-store.com"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
