<style>
  {% if section.settings.promo_bar_text != blank %}
    .promo-bar {
      background: {{ section.settings.promo_bar_bg }};
    }
  {% endif %}

  .site-header__left {
    width: {{ section.settings.logo_max_width }}px;
  }

  .megamenu {
    height: {{ section.settings.megamenu_height }}px;
    background-color: {{ section.settings.megamenu_background }};
  }

  .child-menu {
    background-color: {{ section.settings.megamenu_background }};
  }

  .site-header__search {
    background-color: {{ section.settings.megamenu_background }};
  }
</style>
<div data-section-id="{{ section.id }}" data-section-type="header">
  <header class="site-header" role="banner">
    {% unless section.settings.promo_bar_text == blank %}
      <div class="promo-bar">
        <div class="wrapper">
          {{ section.settings.promo_bar_text }}
        </div>
      </div>
    {% endunless %}
    <div class="wrapper">
      <div class="site-header__left">
        {% if template.name == 'index' %}
          <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="logo" class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <a href="/" itemprop="url" class="logo__link{% if section.settings.logo != blank %} logo__link--image{% endif %}">
              {% if section.settings.logo_use_image %}
                <img class="logo__image" src="{{ section.settings.logo | img_url: '400x' }}" alt="{{ section.settings.logo.alt | default: shop.name }}">
                <img class="logo__image--alt" src="{{ section.settings.logo_alt | img_url: '300x' }}" alt="{{ section.settings.logo.alt | default: shop.name }}">
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
          <span href="#" data-open-nav-drawer>
            {% include 'icon-hamburger' %}
          </span>
      </div>

      <div class="site-header__right">
        <div class="header-icons">
          <a class="header-icons__item header-icons__item--search" href="#" data-open-search>
            {% include 'icon-search' %}
          </a>

          {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <a class="header-icons__item" href="/account">
            {% else %}
            <a class="header-icons__item" href="/account/login">
            {% endif %}
              {% include 'icon-login' %}
            </a>
          {% endif %}

          <a class="header-icons__item header-icons__item--cart" href="/cart">
            {% include 'icon-cart' %}
            <small>{{ cart.item_count }}</small>
          </a>

          <a class="header-icons__item header-icons__item--hamburger" href="#" data-open-nav-drawer>
            {% include 'icon-hamburger' %}
          </a>
        </div>

        {% include 'site-navigation' %}
      </div>
    </div>

    <form class="site-header__search" action="/search" method="get" role="search">
      <div class="wrapper">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
        <button type="submit" class="btn">
          {% include 'icon-search' %}
        </button>
        <input type="hidden" name="type" value="product">
        <input type="search"
               name="q"
               id="Search"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}">
        <a href="#">
          {% include 'icon-close' %}
        </a>
      </div>
    </form>
  </header>
</div>

<div class="nav-drawer">
  <a class="nav-drawer__close" href="#" data-close-nav-drawer>
    {% include 'icon-close' %}
  </a>
  <form class="nav-drawer__search" action="/search" method="get" role="search">
    <input type="hidden" name="type" value="product">
    <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}">
    {% include 'icon-search' %}
  </form>
  <ul class="mobile-nav">
    {% for link in linklists[section.settings.main_linklist].links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if menus[child_list_handle].links != blank %}
        <li class="mobile-nav__item mobile-nav__item--has-child-menu">
          <a class="color-primary text-uppercase" href="{{ link.url }}">
            {{ link.title }}
            <span>
              {% include 'icon-minus' %}
              {% include 'icon-plus' %}
            </span>
          </a>
          <ul class="mobile-nav__child-menu">
            {% for childlink in menus[child_list_handle].links %}
              {% assign grandchild_list_handle = childlink.title | handleize %}
              {% if menus[grandchild_list_handle].links != blank %}
                <li class="mobile-nav__item mobile-nav__item--has-grandchild-menu">
                  <a class="color-primary bg-white" href="{{ childlink.url }}">
                    {{ childlink.title }}
                    <span>
                      {% include 'icon-minus' %}
                      {% include 'icon-plus' %}
                    </span>
                  </a>
                  <ul class="mobile-nav__grandchild-menu">
                    {% for grandchildlink in menus[grandchild_list_handle].links %}
                      {% capture great_grandchild_list_handle %}{{ grandchild_list_handle }}-{{ grandchildlink.title | handleize }}{% endcapture %}
                      {% if menus[great_grandchild_list_handle].links != blank %}
                        <li class="mobile-nav__item">
                          <a class="color-secondary text-uppercase" href="{{ grandchildlink.url }}">
                            {{ grandchildlink.title }}
                          </a>
                          <ul class="mobile-nav__grant-grandchild-menu">
                            {% for great_grandchildlink in menus[great_grandchild_list_handle].links %}
                              <li class="mobile-nav__item">
                                <a href="{{ great_grandchildlink.url }}">{{ great_grandchildlink.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                        <li class="mobile-nav__item">
                          <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="mobile-nav__item">
                  <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </li>
      {% else %}
        <li class="mobile-nav__item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="nav-drawer-overlay" data-close-nav-drawer></div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "logo_use_image",
        "label": "Use custom logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "image_picker",
        "id": "logo_alt",
        "label": "Logo image alt"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "250"
      },
      {
        "type": "textarea",
        "id": "promo_bar_text",
        "label": "Top bar"
      },
      {
        "type": "color",
        "id": "promo_bar_bg",
        "label": "Top bar background",
        "default": "#73D7D3"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "text",
        "id": "megamenu_height",
        "label": "Megamenu height (in pixels)",
        "default": "400"
      },
      {
        "type": "color",
        "id": "megamenu_background",
        "label": "Megamenu background",
        "default": "#fbfbfd"
      }
    ]
  }
{% endschema %}
