<style>
  {% if section.settings.promo_bar_text != blank %}
    .promo-bar {
      background: {{ section.settings.promo_bar_bg }};
    }
  {% endif %}

  .logo__image {
    width: {{ section.settings.logo_max_width }}px;
  }

  .megamenu {
    height: {{ section.settings.megamenu_height }}px;
  }
</style>
{% unless section.settings.promo_bar_text == blank %}
  <div class="promo-bar">
    <div class="wrapper">
      {{ section.settings.promo_bar_text }}
    </div>
  </div>
{% endunless %}
<div data-section-id="{{ section.id }}" data-section-type="header">
  <header class="site-header" role="banner">
    <div class="wrapper">
      <div class="site-header__left">
        {% if template.name == 'index' %}
          <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="logo" class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
              {% if section.settings.logo_use_image %}
                <img class="logo__image" src="{{ section.settings.logo | img_url: '400x' }}" alt="{{ section.settings.logo.alt | default: shop.name }}">
                <img class="logo__image-alt" src="{{ section.settings.logo_alt | img_url: '300x' }}" alt="{{ section.settings.logo.alt | default: shop.name }}">
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      <div class="site-header__right">
        <div class="header-icons">
          <a class="header-icons__item header-icons__item--search" href="#" data-open-search>
            {% include 'icon-search' %}
          </a>

          {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <a class="header-icons__item" href="/account">
            {% else %}
            <a class="header-icons__item" href="/account/login">
            {% endif %}
              {% include 'icon-login' %}
            </a>
          {% endif %}

          <a class="header-icons__item header-icons__item--cart" href="/cart">
            {% include 'icon-cart' %}
            <small>{{ cart.item_count }}</small>
          </a>
        </div>

        <nav class="site-navigation" role="navigation">
          <ul class="menu">
            {% for link in linklists[section.settings.main_linklist].links %}

              {% assign child_list_handle = link.title | handleize %}
              {% assign grandchildlink_length = 0 %}

              {% for childlink in linklists[child_list_handle].links %}
                {% assign grandchild_list_handle = childlink.title | handleize %}
                {% assign grandchildlink_length = grandchildlink_length   | plus: linklists[grandchild_list_handle].links.size %}
              {% endfor %}

              {% if linklists[child_list_handle].links != blank %}
                {% if grandchildlink_length == 0 %}
                  <li class="menu__item--has-children">
                {% else %}
                  <li class="menu__item--has-megamenu">
                {% endif %}

                <a href="{{ link.url }}">
                  {{ link.title }}
                  {% include 'icon-arrow-down' %}
                </a>

                {% if grandchildlink_length == 0 %}
                  <ul class="child-menu">
                    {% for childlink in menus[child_list_handle].links %}
                      <li class="child-menu__item">
                        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <ul class="megamenu">
                    <div class="wrapper">
                      {% for childlink in linklists[child_list_handle].links %}
                        {% assign grandchild_list_handle = childlink.title | handleize %}
                        <li class="megamenu__item {% if forloop.first == true %}megamenu__item--active-sub-menu{% endif %}">
                          <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                          {% if linklists[grandchild_list_handle].links != blank %}
                            <ul class="sub-menu">
                              {% for grandchildlink in linklists[grandchild_list_handle].links %}
                                {% capture great_grandchild_list_handle %}{{ grandchild_list_handle }}-{{ grandchildlink.title | handleize }}{% endcapture %}
                                <li class="sub-menu__item">
                                  <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                                  {% if linklists[great_grandchild_list_handle].links != blank %}
                                    <ul class="sub-menu__list">
                                      {% for greatgrandchildlink in linklists[great_grandchild_list_handle].links %}
                                        <li><a href="{{ greatgrandchildlink.url }}">{{ greatgrandchildlink.title | escape }}</a></li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                          {% if childlink.type == 'collection_link' %}
                            {% assign kollection = childlink.object %}
                            <figure>
                              <a href="{{ kollection.url }}">
                                {% if kollection.image %}
                                  <img src="{{ kollection | img_url: '480x' }}" alt="{{ kollection.image.alt | escape }}" />
                                {% else %}
                                  <img src="{{ kollection.products.first | img_url: '480x' }}" alt="{{ kollection.title | escape }}" />
                                {% endif %}
                                <figcaption>
                                  {{ 'collections.general.view_all' | t }}
                                  {% include 'icon-arrow-right' %}
                                </figcaption>
                              </a>
                            </figure>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </div>
                  </ul>
                {% endif %}
              </li>
              {% else %}
                <li class="menu__item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

    <form class="site-header__search" action="/search" method="get" role="search">
      <div class="wrapper">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
        <button type="submit" class="btn">
          {% include 'icon-search' %}
        </button>
        <input type="search"
               name="q"
               id="Search"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}">
        <a href="#">
          {% include 'icon-close' %}
        </a>
      </div>
    </form>
  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "logo_use_image",
        "label": "Use custom logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "image_picker",
        "id": "logo_alt",
        "label": "Logo image alt"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "250"
      },
      {
        "type": "textarea",
        "id": "promo_bar_text",
        "label": "Top bar"
      },
      {
        "type": "color",
        "id": "promo_bar_bg",
        "label": "Top bar background",
        "default": "#73D7D3"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "text",
        "id": "megamenu_height",
        "label": "Megamenu height (in pixels)",
        "default": "400"
      }
    ]
  }
{% endschema %}
