{% paginate collection.products by 12 %}

<style>
  .collection-header {
    background-color: {{ section.settings.background_color }};
    {% if section.settings.background_image != blank %}
      background-image: url({{ section.settings.background_image | img_url: '600x' }});
    {% endif %}
  }
</style>

<div class="collection-section" data-section-id="{{ section.id }}" data-section-type="collection-template">

  <div class="wrapper">
    {% include 'breadcrumb' %}
  </div>

  {% if collection.handle == 'all' %}
    <header class="collection-header" role="banner">
      <div class="wrapper">
        <div class="collection-header__content">
          {% if collection.description != blank %}
            <div class="collection-header__description collection-header__description--big rte">
              {{ collection.description }}
            </div>
          {% endif %}
        </div>
      </div>
    </header>
  {% else %}
    <header class="collection-header">
      <div class="wrapper">
        <div class="collection-header__content collection-header__content--table">
          <div class="collection-header__image">
            {% if collection.image != blank %}
              {{ collection | img_url: '600x' | img_tag: collection.title }}
            {% elsif collection.products.first != blank %}
              {{ collection.products.first | img_url: '600x' | img_tag: collection.title }}
            {% else %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            {% endif %}
          </div>
          {% if collection.description != blank %}
            <div class="collection-header__description">
              <h1 class="collection-header__title">{{ collection.title }}</h1>
              {{ collection.description }}
            </div>
          {% endif %}
        </div>
      </div>
    </header>
  {% endif %}

  <a id="ToggleSidebar" class="toggle-sidebar" href="#">
    {% include 'icon-filter' %}
    {{ 'collections.sidebar.filters' | t }}
  </a>
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large-up--one-quarter">
        {% include 'collection-sidebar' %}
      </div>

      <div class="grid__item large-up--three-quarters">
        {% include 'collection-sorting' %}

        <div class="grid grid--uniform">
          {% for product in collection.products %}
            <div class="grid__item medium-up--one-third">
              {% include 'product-grid-item' %}
            </div>
          {% else %}
            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
              {% for i in (1..6) %}
                <div class="grid__item medium-up--one-third">
                  {% include 'sample-product-card' %}
                </div>
              {% endfor %}
            {% else %}
              <div class="grid__item">
                <p>{{ 'collections.general.no_matches' | t }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "link_list",
        "id": "sidebar_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "tag_filtering",
        "label": "Enable tag filtering",
        "default": true
      },
      {
        "type": "text",
        "id": "tags_list",
        "label": "Tags list",
        "info": "Separated by a comma. Example: Small,Medium,Large"
      },
      {
        "type": "text",
        "id": "filter_by_title",
        "label": "Tag filtering title",
        "default": "Filter by"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fbfbfd"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      }
    ]
  }
{% endschema %}
