<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ '//fonts.googleapis.com/css?family=Raleway:400,600|Sacramento' | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        tagged: {{ 'general.meta.tagged' | t | json }},
        quantity: {{ 'products.product.quantity' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        viewProductDetails: {{ 'products.product.view_product_details' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{key}}" data-qty="{{itemMinus}}">
        {% endraw %}{% include 'icon-minus' %}{% raw %}
        <span class="icon-fallback-text" aria-hidden="true">-</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{key}}" data-qty="{{itemAdd}}">
        {% endraw %}{% include 'icon-plus' %}{% raw %}
        <span class="icon-fallback-text" aria-hidden="true">+</span>
      </button>
    </div>
  {% endraw %}
  </script>

  <script id="ProductTemplate" type="text/template">
  {% raw %}
    <div class="grid product-single">
      <div class="grid__item medium-up--one-half">
        {{#if hasOnlyOneImage}}
          <div class="product-single__photos" data-image-wrapper>
            <img id="ProductPhotoImg" src="{{featuredImage}}" alt="{{{productTitle}}}" data-zoom="{{featuredImage}}">
          </div>
        {{else}}
          <div class="grid">
            <div class="grid__item four-fifths product-single__photos" data-image-wrapper>
              <img id="ProductPhotoImg" src="{{featuredImage}}" alt="{{{productTitle}}}" data-zoom="{{{featuredImage}}}">
            </div>
            <div class="grid__item one-fifth">
              <ul class="grid product-single__thumbnails" id="ProductThumbs">
                {{#each productImages}}
                  <li class="grid__item">
                    <a class="product-single__thumbnail" href="{{this.original}}" data-product-single-thumbnail>
                      <img src="{{this.compact}}">
                    </a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="grid__item medium-up--one-half">
        <h1 class="product-single__title">
          <a href="{{productUrl}}">
            {{productTitle}}
          </a>
        </h1>
        <div class="product-single__meta">
          {{#if productTags}}
            <p>
              <strong>{{strings.tagged}}</strong>
              {{#productTags}}
                {{this}}{{#unless @last}}, {{/unless}}
              {{/productTags}}
            </p>
          {{/if}}
        </div>
        <div id="PriceWrapper" class="product-single__prices">
          <span id="ProductPrice">{{currentVariantPrice}}</span>
          {{#if isOnSale}}
            <span id="CompareText" class="visually-hidden">{{strings.regularPrice}}</span>
            <s id="ComparePrice">
              {{#if isCompareAtPriceGreaterThanVariantPrice}}
                {{compareAtPrice}}
              {{/if}}
            </s>
          {{/if}}
        </div>
        <form class="product-form" action="/cart/add" method="post" enctype="multipart/form-data">
          {{#unless hasOnlyDefaultVariant}}
            {{#each productOptions as |option key|}}
              <div class="selector-wrapper js product-form__item">
                <label for="SingleOptionSelector-{{@index}}">
                  {{option.name}}
                </label>
                <select
                  class="product-form__input single-option-selector"
                  id="SingleOptionSelector-{{@index}}"
                  data-index="option{{option.position}}">
                  {{#each option.values}}
                    <option
                      value="{{{this.value}}}"
                      {{#if this.isSelected}}selected="selected"{{/if}}>
                        {{this.value}}
                    </option>
                  {{/each}}
                </select>
              </div>
            {{/each}}
          {{/unless}}
          <select name="id" class="no-js" id="productSelect">
            {{#each productVariants as |variant key|}}
              <option value="{{variant.id}}">
                {{variant.title}}
              </option>
            {{/each}}
          </select>
          <div class="product-form__item product-form__item--quantity">
            <label for="Quantity{{productId}}">{{strings.quantity}}</label>
            <input class="product-form__input" type="number" id="Quantity{{productId}}" name="quantity" value="1" min="1">
          </div>
          <div class="product-form__item product-form__item--submit">
            <button
              id="AddToCart"
              class="btn product-form__cart-submit{{#if hasOnlyDefaultVariant}} product-form__cart-submit--small{{/if}}"
              type="submit"
              name="add"
              {{#unless currentVariant.available}}disabled="disabled"{{/unless}}>
                <span id="AddToCartText">
                  {{# if currentVariant.available}}
                    {{strings.addToCart}}
                  {{else}}
                    {{strings.soldOut}}
                  {{/if}}
                </span>
            </button>
          </div>
        </form>
        <div class="product-single__description rte">{{productDescription}}</div>
        <p class="product-single__view-more">
          <a href="{{productUrl}}">{{strings.viewProductDetails}}</a>
        </p>
      </div>
    </div>
  {% endraw %}
  </script>

  <div class="wrapper">
    <div id="ProductContainer"></div>
  </div>

</body>
</html>
